<div>
  <h1 class="font-bold text-4xl">Datasets#show</h1>
  <p>Find me in app/views/datasets/show.html.erb</p>
</div>

<h1><%= @dataset.name %></h1>
<p>Source: <%= @dataset.source %></p>
<h2>CSV File:</h2>
<%= link_to 'Download CSV', rails_blob_path(@dataset.csv_file, disposition: "attachment") %>
<h2>Schema:</h2>
<pre><%= JSON.pretty_generate(@dataset.schema.structure) %></pre>